[submodule "WW3"]
	path = WW3
	url = https://github.com/krsteffen/WW3
	branch = edits-to-cmake-for-adc-ww3-nems
[submodule "adcirc-cg"]
	path = adcirc-cg
	url = https://github.com/GM-Ling/adcirc-cg.git
[submodule "ATMESH"]
	path = ATMESH
	url = https://github.com/noaa-ocs-modeling/ATMESH.git
